{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Brechó</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
		<link rel="icon" type="'image/png" href="{% static 'img/favicon.png' %}" />
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<section class="container mx-auto">
			<div class="flex flex-col">
				<h1 class="text-black">Produtos ❤️</h1>
				<div class="justify-center">
					{% for produto in produtos %}
					<div class="max-w-sm rounded overflow-hidden shadow-lg">
						<img src="{% static produto.foto %}" class="img-thumbnail float-left mr-3"/>
						<div class="px-6 py-4">
							<div class="font-bold text-xl mb-2">{{ produto.produto }}</div>
							<p class="text-gray-700 text-base">
								{{ produto.descricao }}
							</p>
							<p> {{ produto.preco }}</p>
							<p> {{ produto.foto }}</p>
						</div>
					</div>
					<div class="inline-block relative w-64">
						<select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
							<option> P </option>
    						<option> M </option>
    						<option> G </option>
  						</select>
					</div>
				{% endfor %}
				</div>
			</div>
		</section>
	</body>
</html>
